.table {
  /* border-collapse: separate; */
  width: 400px;

  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 10%;

  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 17px -9px #42445a;
  -moz-box-shadow: 0px 5px 17px -9px #42445a;
  box-shadow: 0px 5px 17px -9px #42445a;
}

tr:nth-child(2n) {
  background-color: #ecf1f3;
}

tr:last-child > td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child > td:last-child {
  border-radius: 0 0 10px 0px;
}

th {
  background-color: #00bcd5;
  color: #ffffff;
  font-weight: 600;
}

th:first-child {
  border-radius: 10px 0 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
}

.borderCell {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

table td,
table th {
  padding: 10px;
  text-align: center;
}
